.home {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(87, 128, 36);
  overflow: hidden;
  transition: 0.5s;
  padding-top: 50px;

  color: #ffffff;
}
#Navpanel {
  background-color: rgb(61, 87, 27);
}

.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #00ff1a 0%,
    #3d017e 27%,
    #6704d0 67%,
    #00ff1a 100%
  );

  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
  font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#btn-logout {
  background-color: rgb(61, 87, 27);
}

.container-page {
  margin-top: 1%;
  margin-left: 5%;
  margin-right: 5%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
}
#dd {
  background-color: #769376;
}

#imgCarousel {
  width: 40%;
  object-fit: cover;
}
#close {
  border-bottom: 1px solid rgb(87, 128, 36);
}

#last {
  border-bottom: 1px solid rgb(87, 128, 36);
}
#space-navbar {
  margin-bottom: 410px;
}
#boton-navpanel {
  font-size: 1.2rem;
  display: inline-block;
  padding: 2px 15px;
  border: 3px solid rgb(87, 128, 36);
  border-radius: 10px;
  cursor: pointer;
}

#insideForms {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
}
.container-form {
  display: flex;
  justify-content: space-between;
}
.custom-select {
  margin-left: 10px;
  font-size: 1.2rem;
  position: relative;
  font-family: Arial;
}
.custom-select select {
  width: 25vw; /*hide original SELECT element: */
}
.custom-select input {
  width: 25vw; /*hide original SELECT element: */
  height: 30px;
}

.passenger {
  margin-top: 1.5vw;
  border-style: groove;
  border-radius: 15px;
  margin: top;
}

.radioLabel {
  font-size: 1.5rem;
  display: flexbox;
  justify-content: space-between;
}
.alert {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.radioPick {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.pickerRadio {
  display: flex;
  justify-content: space-between;
  width: 27vw;
}

.imgIndividual {
  height: 17rem;
  width: 24rem;
  border-radius: 15px;
  display: flex;
}
.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #00ff1a 0%,
    #3d017e 27%,
    #6704d0 67%,
    #00ff1a 100%
  );

  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: inline-block;
  font-size: 25px;
}

.contains {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30vw;
}

.textHome {
  font-size: 1.5rem;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  line-height: 2rem;
  height: 2rem;
}

.format {
  display: flex;

  width: 450px;
}
.periodo-escolar {
  margin-right: 150px;
}

.format .right {
  float: right;
}
.component-panel {
  width: 100%;
}
.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
/*PRUEBA */

.container-page-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  width: 80%;
}

#insider {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.container-page-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
}

#Solicitud {
  display: block;
}

#Legal {
  display: none;
}

#Pagos {
  display: none;
}

#Tutoriales {
  display: none;
}

.title-block {
  float: right;
  background-color: rgba(87, 128, 36, 255);
  border-radius: 15px;
  width: 100%;

  color: #ffffff;
  margin-top: 0.75%;
  text-align: center; /* Añadido para centrar el texto */
  padding: 10px; /* Añadido para dar espacio alrededor del texto */
}
#add {
  float: right;
  background-color: rgba(185, 193, 175, 0.537);
  border-radius: 15px;
  border-color: #000000;
  border-style: groove;
  width: 100%;
  cursor: pointer;
  color: #000000;
  margin-top: 0.75%;
  text-align: center; /* Añadido para centrar el texto */
  padding: 10px;
  margin-bottom: 5%;
  transition: background-color 0.8s ease, color 0.8s ease;
}

#add:hover {
  background-color: rgba(143, 149, 135, 0.637);
}

#title {
  margin: 0;
}

.dropdown-menu {
  background-color: #3498db;
  border: 1px solid #2980b9;
}

.dropdown-item {
  color: #fff;
}

.dropdown-item:hover {
  background-color: #2980b9;
  color: #fff;
}

Toast.Body {
  font-size: 1.5rem;
}
nav img {
  margin-left: 3%;
  margin: 1%;
  display: block;
  width: 15vw; /* o ajusta según tus necesidades */
  margin-left: 2vw;
  margin-right: 2vw;
}

#imageDinamic {
  margin: 1% auto;
  display: block;
  width: 75%;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(87, 128, 36, 255);
  position: sticky, fixed;
  top: 0;
}
nav ul {
  display: flex;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}
nav ul li {
  font-size: 1.5rem;
  list-style: none;
  margin: 0 10px;
  white-space: nowrap;
}
nav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.8s ease, color 0.8s ease;
}

#btnVentas {
  padding: 0rem;
}

#special {
  margin: 0 0rem;
  padding: 0rem;
  color: black;
}

#special:hover {
  background-color: initial;
  color: initial;
}
/* Estilos para el Dropdown.Menu */
.dropdown-menu {
  background-color: #fff; /* Color de fondo del menú */
  border: 1px solid #ccc; /* Borde del menú */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del menú */
  border-radius: 5px; /* Bordes redondeados */
}

.dropdown-item {
  color: #333; /* Color del texto en el menú */
}

.dropdown-item:hover {
  background-color: #f0f0f0; /* Color de fondo al hacer hover */
}

nav ul li a:hover {
  background-color: #015e01;
  color: #9f9f9f;
}

nav .menu {
  display: none;
  position: relative;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.1rem;
  width: 100%;
  background-attachment: #fff;
  border-radius: 0.2rem;
}

.header {
  display: flex;
  margin-bottom: 1%;
  margin-top: 1%;
}

.header svg {
  display: none;
}

.log {
  color: #fff;
  font-size: 1.5rem;
  background-color: #015e01;
  padding: 0.5rem;
  border-radius: 1.1rem;
  transition: background-color 0.8s ease, color 0.8s ease;
}
@media (max-width: 1050px) {
  #Solicitud {
    display: grid;
    width: 151%;
  }
}

@media (max-width: 1203px) {
  nav ul li {
    font-size: 1.2rem;
    list-style: none;
    margin: 0 10px;
    white-space: nowrap;
  }

  .log {
    font-size: 1.2rem;
  }

  #Solicitud {
    display: grid;
    width: 100%;
  }
  #btn-logout {
    background-color: #015e01;
  }
  .format {
    justify-content: space-between;
  }
  .pickerRadio {
    display: initial;
    width: 80%;
  }
  label {
    display: inline-block;
    padding-right: 10px;
  }
}
/* CADA VEZ QUE SE CAMBIE EL TAMAÑO, TOCA AJUSTAR LA VARIABLE SetIsMobile EN EL NAVBAR */
@media (max-width: 1050px) {
  nav img {
    width: 45vw;
    margin-left: 60%;
    margin-right: 50%;
  }
  .title-block {
    border-radius: 15px;
    width: 70%;

    color: #ffffff;
    margin-top: 0.75%;
    text-align: center; /* Añadido para centrar el texto */
    padding: 10px; /* Añadido para dar espacio alrededor del texto */
  }
  .container-form {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  nav .menu {
    display: flex;
  }
  nav {
    flex-direction: column;
    justify-content: flex-end;
    align-items: normal;
  }
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0.49rem;
  }

  nav ul.open {
    margin: 0px 0px 0px -30px;
    display: flex;
    max-width: 100%;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    background-color: #015e01;
    border-radius: 10px;
  }

  .header {
    margin: 2%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header svg {
    top: -20%;
    position: relative;
    display: flex;
    cursor: pointer;
  }

  .log {
    border: #015e01;

    padding: 0;
  }

  .account {
    border-color: #273dab;
    border-style: groove;
  }

  .container-page-right {
    flex: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    width: 100%;
  }

  .container-page-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  .Navvertical {
    background-color: rgba(87, 128, 36, 255);
    width: 100%;
    height: 18rem;
    position: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
  }

  #space-navbar {
    margin-bottom: 375px;
  }

  #btnVentas.log {
    padding: -px;
    margin: 0.2rem 0.5rem;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    border-style: groove;
    width: -webkit-fill-available;
  }

  .animate-charcter {
    background-image: linear-gradient(
      -225deg,
      #00ff1a 0%,
      #3d017e 27%,
      #6704d0 67%,
      #00ff1a 100%
    );

    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    display: inline-block;
    font-size: 22px;
  }

  .container-form {
    display: flex;
    justify-content: none;
    flex-direction: column;
  }

  .format {
    width: 345px;
  }

  .custom-select select {
    width: 30vw;
  }

  .contains {
    flex-direction: column;
    height: 110%;
  }

  .textHome {
    margin-top: -10%;
    line-height: -2%;
  }

  .imgIndividual {
    margin-top: 18rem;
    width: 20rem; /* Hacer la imagen ocupar el ancho completo en dispositivos móviles */
    height: 170%; /* Ajustar altura automáticamente en dispositivos móviles */
    margin-bottom: 2rem;
  }

  #Solicitud {
    display: grid;
    width: 100%;
  }

  #Navpanel {
    width: 100%;
  }
  .passenger {
    width: 69%;
    padding-right: 5px;
  }
  form {
    width: 100;
  }
  #insideForms {
    width: 70%;
  }

  #add {
    width: 70%;
  }
  #insider {
    width: 100%;
  }
  .container-page {
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 0%;
    width: 100%;
  }
  .radioLabel {
    font-size: 1.2rem;
  }
  h4 {
    height: 25px;
  }
  .component-panel {
    width: 80%;
  }
}
